<h2>Menu</h2>
<ul class="actions">
  <li><button class={{majorModeCSS}} >Modos</button></li>
  <li><button class="button primary large" (click)="onClickMotivo()">Motivo Choro</button></li>
</ul>
<h2>Modo Tonal</h2>
<ul class="actions">
  <li><button class={{majorModeCSS}} (click)="onClick('maior')">Modo Maior</button></li>
  <li><button class={{minorModeCSS}} (click)="onClick('menor')">Modo Menor</button></li>
</ul>
<ul class="actions">
  <li>
    <h2>Tonalidade</h2>
    <select class="form-control" id="SelectCircleFifhts" (change)="onSelect($event.target.value)">
      <option *ngFor="let item of notes">{{item}}</option>
    </select>
  </li>
  <li>
    <h2>Instrumento</h2>
    <select class="form-control" id="SelectInstrument" (change)="onSelectInstrument($event.target.value)">
      <option *ngFor="let item of instruments">{{item.Name}}</option>
    </select>
  </li>
</ul>