<header>
  <h2>Major Mode</h2>
</header>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Chord</th>
      <th scope="col">Upper</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">I Maj7</th>
      <td>(9 13)</td>
      <td>{{I.name}} Maj7</td>
      <td>{{I.name}} {{V.name}} {{VIII.name}} {{XII.name}} ({{III.name}} {{X.name}})</td>
    </tr>
    <tr>
      <th scope="row">II -7</th>
      <td>(9 11)</td>
      <td>{{III.name}}m7</td>
      <td>{{III.name}} {{VI.name}} {{X.name}} {{I.name}} ({{V.name}} {{VIII.name}})</td>
    </tr>
    <tr>
      <th scope="row">III -7</th>
      <td>(11)</td>
      <td>{{V.name}}m7</td>
      <td>{{V.name}} {{VIII.name}} {{XII.name}} {{III.name}} ({{X.name}})</td>
    </tr>
    <tr>
      <th scope="row">IV Maj7</th>
      <td>(9 #11 13)</td>
      <td>{{VI.name}} Maj7</td>
      <td>{{VI.name}} {{X.name}} {{I.name}} {{V.name}} ({{VIII.name}} {{XII.name}} {{III.name}})</td>
    </tr>
    <tr>
      <th scope="row">V7</th>
      <td>(9 13)</td>
      <td>{{VIII.name}}7</td>
      <td>{{VIII.name}} {{XII.name}} {{III.name}} {{VI.name}} ({{X.name}} {{V.name}})</td>
    </tr>
    <tr>
      <th scope="row">VI -7</th>
      <td>(9 11)</td>
      <td>{{X.name}}m7</td>
      <td>{{X.name}} {{I.name}} {{V.name}} {{VIII.name}} ({{XII.name}} {{III.name}})</td>
    </tr>
    <tr>
      <th scope="row">VII -7b5</th>
      <td>(11 b13)</td>
      <td>{{XII.name}}m7b5</td>
      <td>{{XII.name}} {{III.name}} {{VI.name}} {{X.name}} ({{V.name}} {{VIII.name}})</td>
    </tr>
  </tbody>
</table>
