<section>
  <header>
    <h2>Harmonia no modo maior</h2>
    Um bom ponto de partida para progressão harmônica dos acordes em modo Maior seria, partindo de qualquer acorde do
    modo dessemos prosseguimento de acordo com a tabela: <br>
    <table>
      <tbody>
        <tr>
          <td>III -></td>
          <td>VI -></td>
          <td>IV -></td>
          <td>V -></td>
          <td>I -></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>II -></td>
          <td>VII -></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    Essa tabela é um modelo seguro já muito utilizado.
  </header>
  <div class="content">
    <h2>Acordes do modo maior</h2>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let column of header" scope="col">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of majorMode">
          <td *ngFor="let column of header">
            <div *ngIf="column === 'Chord'">
              <div [innerHTML]="item.Roman"></div>
              <div class="loadChords" [innerHTML]="item.Chord" (click)="loadChords(item.Chord)"></div>
            </div>
            <div *ngIf="column != 'Chord'" [innerHTML]="item[column]"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>