<section>
  <div class="content">
    <header>
      <h1>O Modo Maior</h1>
      <p>Subdominantes</p>
    </header>
    <div class="row">
      <div class="col-3 col-12-medium">
        <P>A substituição das dominantes nasceu de um procedimento utilizado na música clássica onde partiamos da
          segunda inversão de uma subdominante (II- /5) em direção a dominante (V) por um salto cromático através do que
          se chamava sexta aumentada V b5/b5 (que não é mais o que entendemos como sexta aumentada), logo II- /5 → V
          b5/b5 → V → I.
        </P>
        <p>Já a abordagem contemporâne substituiu essa aproximação cromática da dominante (considerando que estamos
          perfazendo o caminho II- → V → I) por uma bII7 (segunda bemol
          com sétima), que guarda dentro de si o mesmo trítono que obeteríamos tocando o V7, logo teremos II- → bII7 →
          I.</p>
        <p>Concluímos que tanto a dominante (V) quanto qualquer outra dominante secundária (V/x onde o x é qualquer uma
          das dominantes secundárias) poderá ser alterada por
          uma subdominante ou SubV.</p>
      </div>
      <div class="col-9 col-12-medium">
        <h2>Acordes de Substituição de Dominantes (SubV)</h2>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of substituteDominants">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
