<h2>Acordes de Quinta Opcionais</h2>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of header" scope="col">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of majorMode">
      <td *ngFor="let column of header">
        <div *ngIf="column === 'Chord'">
          <div [innerHTML]="item.Roman"></div>
          <div class="loadChords" [innerHTML]="item.Chord" (click)="loadChords(item.Chord)"></div>
        </div>
        <div *ngIf="column != 'Chord'" [innerHTML]="item[column]"></div>
      </td>
    </tr>
  </tbody>
</table>
<h2>Acordes de Quinta com Dominante Alterada</h2>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of header" scope="col">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of alteredDominant">
      <td *ngFor="let column of header">
        <div *ngIf="column === 'Chord'">
          <div [innerHTML]="item.Roman"></div>
          <div class="loadChords" [innerHTML]="item.Chord" (click)="loadChords(item.Chord)"></div>
        </div>
        <div *ngIf="column != 'Chord'" [innerHTML]="item[column]"></div>
      </td>
    </tr>
  </tbody>
</table>
<h2>Acordes de Quinta com Dominantes Simétricas </h2>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of header" scope="col">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of symetricDominant">
      <td *ngFor="let column of header">
        <div *ngIf="column === 'Chord'">
          <div [innerHTML]="item.Roman"></div>
          <div class="loadChords" [innerHTML]="item.Chord" (click)="loadChords(item.Chord)"></div>
        </div>
        <div *ngIf="column != 'Chord'" [innerHTML]="item[column]"></div>
      </td>
    </tr>
  </tbody>
</table>
