<section>
  <div class="content">
    <header>
      <h1>O Modo Maior</h1>
      <p>A progressão II-7 &#8594; V7</p>
    </header>
    <div class="row">
      <div class="col-4 col-12-medium">
        <p>Como exemplo poderiamos considerar a progressão IIIm7 -> VIm7 (o acorde de VIm7 fica uma quinta abaixo do
          IIIm7). O que faremos é transforma-lo em um acorde maior para aumentarmos a expectativa de resolução, ficando
          III7 -> VIm7.</p>
        <p>Como não existe III7 na tonolidade diatonica maior, notaremos esse acorde como V7/VI, justamente por que o
          resolveremos na VIm7.</p>
      </div>
      <div class="col-8 col-12-medium">
        <h2>A progressão IIm7 → V7</h2>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of twoFiveSecondaryDominant">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
