<section>
  <div class="content">
    <header>
      <h1>Outras técnicas e abordagens</h1>
    </header>
    <div class="row">
      <div class="col-12 col-12-medium">
        <h2>Harmonia negativa</h2>
        <p>O conceito de harmonia negativa foi descrita por Ernst Levy e concebe a idéia de notas relacionadas por
          inversão intervalar em torno de um eixo específico.</p>
        <div class="row">
          <div class="col-4 col-12-medium">
            <h3>Modo Maior</h3>
            <table class="table">
              <thead>
                <tr>
                  <th *ngFor="let column of header" scope="col">{{column}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of maior">
                  <td *ngFor="let column of header">
                    <div *ngIf="column === 'Grau'">
                      <div [innerHTML]="item.Acorde.Grau"></div>
                    </div>
                    <div *ngIf="column === 'Acorde'">
                      <a class="loadChords" href="#popup" [innerHTML]="item.Acorde.Acorde"
                        (click)="loadChords(item.Acorde)"></a>
                    </div>
                    <div *ngIf="column === 'Notas'">
                      <div [innerHTML]="'(' + item.Acorde.Notas + ')'"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-4 col-12-medium">
            <h3>Eixo da Tônica</h3>
            <table class="table">
              <thead>
                <tr>
                  <th *ngFor="let column of header" scope="col">{{column}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tonica">
                  <td *ngFor="let column of header">
                    <div *ngIf="column === 'Grau'">
                      <div [innerHTML]="item.Acorde.Grau"></div>
                    </div>
                    <div *ngIf="column === 'Acorde'">
                      <a class="loadChords" href="#popup" [innerHTML]="item.Acorde.Acorde"
                        (click)="loadChords(item.Acorde)"></a>
                    </div>
                    <div *ngIf="column === 'Notas'">
                      <div [innerHTML]="'(' + item.Acorde.Notas + ')'"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-4 col-12-medium">
            <h3>Eixo Tônica - Dominante</h3>
            <table class="table">
              <thead>
                <tr>
                  <th *ngFor="let column of header" scope="col">{{column}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dominante">
                  <td *ngFor="let column of header">
                    <div *ngIf="column === 'Grau'">
                      <div [innerHTML]="item.Acorde.Grau"></div>
                    </div>
                    <div *ngIf="column === 'Acorde'">
                      <a class="loadChords" href="#popup" [innerHTML]="item.Acorde.Acorde"
                        (click)="loadChords(item.Acorde)"></a>
                    </div>
                    <div *ngIf="column === 'Notas'">
                      <div [innerHTML]="'(' + item.Acorde.Notas + ')'"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
