<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <ul class="icons">
          <li><a href="https://twitter.com/gustavoaesteves" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/gustavoesteves" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="https://www.instagram.com/gustavoaesteves/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
      </header>

      <!-- Main Page -->
      <div *ngIf="menu === 'home'">
        <app-home></app-home>
      </div>

      <!-- Draw Chords -->
      <div class="popup" id="popup">
        <div class="popup-inner">
          <div class="popup__text">
            <app-draw-chords></app-draw-chords>
          </div>
          <a class="popup__close" href="#">X</a>
        </div>
      </div>

      <!-- Major Mode -->
      <div *ngIf="menu === 'maior'">
        <app-major-mode></app-major-mode>
      </div>
      <div *ngIf="menu === 'optional-chods'">
        <app-optional-chords></app-optional-chords>
      </div>
      <div *ngIf="menu === 'secondary-dominants'">
        <app-secondary-dominants></app-secondary-dominants>
      </div>
      <div *ngIf="menu === 'substitute-dominants'">
        <app-substitute-dominants></app-substitute-dominants>
      </div>

      <!-- Minor Mode -->
      <div *ngIf="menu === 'natural'">
        <app-minor-mode></app-minor-mode>
      </div>
      <div *ngIf="menu === 'hamonico'">
        <app-harmonico></app-harmonico>
      </div>
      <div *ngIf="menu === 'melodico'">
        <app-melodico></app-melodico>
      </div>
      <div *ngIf="menu === 'dorico'">
        <app-dorico></app-dorico>
      </div>
      <div *ngIf="menu === 'frigio'">
        <app-frigio></app-frigio>
      </div>

      <!-- Harmonia Aplicada -->
      <div *ngIf="menu === 'frase-maior'">
        <app-frase-maior></app-frase-maior>
      </div>

      <!-- Configurações -->
      <div *ngIf="menu === 'instrumentos'">
        <app-circle-fifhts></app-circle-fifhts>
      </div>

    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar" class={{sidebar}}>
    <div class="inner">

      <!-- Search -->
      <section class="alt">
        <form method="post" action="#">
          <select name="demo-category" id="demo-category" (change)="onSelect($event.target.value)">
            <option value="">Tonalidade</option>
            <option value="C">C</option>
            <option value="G">G</option>
            <option value="A">A</option>
            <option value="E">E</option>
            <option value="B">B</option>
            <option value="F#">F&#9839;</option>
            <option value="Gb">G&#9837;</option>
            <option value="C#">C&#9839;</option>
            <option value="Db">D&#9837;</option>
            <option value="G#">G&#9839;</option>
            <option value="Ab">A&#9837;</option>
            <option value="D#">D&#9839;</option>
            <option value="Eb">E&#9837;</option>
            <option value="A#">A&#9839;</option>
            <option value="Bb">B&#9837;</option>
            <option value="F">F</option>
          </select>
        </form>
      </section>

      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li>
            <a (click)="changeMenu('home')">Home</a>
          </li>
          <li>
            <span class={{modoMaior}} (click)="openMenu('maior')">Maior</span>
            <ul>
              <li><a (click)="changeMenu('maior')">Acordes</a></li>
              <li><a (click)="changeMenu('optional-chods')">Dominantes</a></li>
              <li><a (click)="changeMenu('secondary-dominants')">Dominantes secundárias</a></li>
              <li><a (click)="changeMenu('substitute-dominants')">Subdominantes</a></li>
            </ul>
          </li>
          <li>
            <span class={{modoMenor}} (click)="openMenu('menor')">Menor</span>
            <ul>
              <li><a (click)="changeMenu('natural')">Natural</a></li>
              <li><a (click)="changeMenu('hamonico')">Harmônico</a></li>
              <li><a (click)="changeMenu('melodico')">Melódico</a></li>
              <li><a (click)="changeMenu('dorico')">Dórico</a></li>
              <li><a (click)="changeMenu('frigio')">Frígio</a></li>
              <li><a href="#">Dominantes</a></li>
              <li><a href="#">Dominantes secundárias</a></li>
              <li><a href="#">Subdominantes</a></li>
            </ul>
          </li>
          <li>
            <span class={{modoModal}} (click)="openMenu('modal')">Modal</span>
            <ul>
              <li><a href="#">Acordes</a></li>
              <li><a href="#">Dominantes</a></li>
              <li><a href="#">Dominantes secundárias</a></li>
              <li><a href="#">Subdominantes</a></li>
            </ul>
          </li>
          <li>
            <span class={{harmonia}} (click)="openMenu('harmonia')">Harmonia Aplicada</span>
            <ul>
              <li><a (click)="changeMenu('frase-maior')">Frases aleatórias Maior</a></li>
              <li><a href="#">Frases aleatórias Menor</a></li>
              <li><a href="#">O Choro</a></li>
              <li><a href="#">Sambas</a></li>
              <li><a href="#">Frevo</a></li>
              <li><a href="#">A valsa Mineira</a></li>
            </ul>
          </li>
          <li>
            <span class={{config}} (click)="openMenu('config')">Configurações</span>
            <ul>
              <li><a href="#">Caminhos e Variáveis</a></li>
              <li><a (click)="changeMenu('instrumentos')">Intrumentos</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <section>
        <header class="major">
          <h2>Mantenha contato</h2>
        </header>
        <p>Não se refute de nos enviar observações, críticas e correções sobre o App e conceitos harmônicos equivocados.
          Ficaremos grato por toda contribuição. Lembrando que esse é um software livre de código aberto.
        </p>
        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="#">gustavo.esteves@gmail.com</a></li>
        </ul>
      </section>

      <!-- Footer -->
      <footer id="footer">
      </footer>

    </div>
    <a class="toggle" (click)="changeSideBar()">Toggle</a>
  </div>

</div>
