<section>
  <div class="content">
    <header>
      <h1>Outras técnicas e abordagens</h1>
    </header>
    <div class="row">
      <div class="col-12 col-12-medium">
        <h2>Tabela de características das tonalidades</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tom</th>
              <th scope="col">Modo</th>
              <th scope="col">Sentimento</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>C</td>
              <td>Maior</td>
              <td>Inocentemente feliz</td>
              <td>Totalmente puro. Simplicidade e ingenuidade. A chave dos filhos. Livre de peso, cheio de imaginação.
                Resolução
                poderosa. Seriedade. Posso me sentir religioso.</td>
            </tr>
            <tr>
              <td>C</td>
              <td>Menor</td>
              <td>Inocentemente triste, doente de amor</td>
              <td>Declarações de amor e lamentando o amor perdido ou relacionamentos infelizes. Está definhando e cheio
                de saudades, uma alma em busca de algo diferente.</td>
            </tr>
            <tr>
              <td>Db</td>
              <td>Maior</td>
              <td>Pesar, Depressivo</td>
              <td>Arrebatamento de tristeza. Uma tonalidade para sufocar as lágrimas. É capaz de rir ou sorrir para
                apaziguar os que estão ao seu redor, mas a verdade está no desespero. Plenitude de tom, sonoridade e
                eufonia.</td>
            </tr>
            <tr>
              <td>Db</td>
              <td>Menor</td>
              <td>Desespero, lamentação, choro</td>
              <td>Uma expressão apaixonada de tristeza e profundo pesar. Cheio de penitência e autopunição. Uma conversa
                íntima com Deus sobre o reconhecimento de transgressões e expiação.</td>
            </tr>
            <tr>
              <td>D</td>
              <td>Maior</td>
              <td>Gritos de guerra triunfantes e vitoriosos</td>
              <td>Gritando aleluia, regozijando-se em vencer obstáculos. Marchas de guerra, canções natalinas, convites
                para entrar no time vencedor.</td>
            </tr>
            <tr>
              <td>D</td>
              <td>Menor</td>
              <td>Sério, Piedoso, Ruminando</td>
              <td>Melancolia, feminina, preocupações taciturnas, contemplação da negatividade.</td>
            </tr>
            <tr>
              <td>Eb</td>
              <td>Maior</td>
              <td>Cruel, duro, mas cheio de devoção</td>
              <td>Amor, Devoção, Intimidade, Abertura, Comunhão Honesta. Conversas com Deus.</td>
            </tr>
            <tr>
              <td>Eb</td>
              <td>Menor</td>
              <td>Angústia profunda, angústia existencial</td>
              <td>Lidar com ansiedade e terror existencial, angústia profunda, depressão sombria. A noite escura da
                alma. Medo, hesitação, estremecimento, arrepios. A linguagem dos fantasmas.</td>
            </tr>
            <tr>
              <td>E</td>
              <td>Maior</td>
              <td>Prazer briguento, turbulento e incompleto</td>
              <td>Gritos de alegria, deleite completo. Mas brigão, pavio curto, pronto para lutar.</td>
            </tr>
            <tr>
              <td>E</td>
              <td>Menor</td>
              <td>Efeminado, Amoroso, Inquieto</td>
              <td>Essa tom pode carregar tristeza e inquietação. Como uma princesa presa em uma torre
                desejando seu salvador e futuro amante.</td>
            </tr>
            <tr>
              <td>F</td>
              <td>Maior</td>
              <td>Furioso, temperamento rápido, arrependimento passageiro</td>
              <td>Complacência, calma controlada sobre a prontidão para explodir. Profundamente zangado, mas ainda
                sereno e sociável. Sentimento religioso.</td>
            </tr>
            <tr>
              <td>F</td>
              <td>Menor</td>
              <td>Obscuro, queixoso, fúnebre</td>
              <td>A depressão mais profunda, lamento sobre a morte e a perda, gemidos de miséria, prestes a expirar.
                Terrível. Melancólico.</td>
            </tr>
            <tr>
              <td>Gb</td>
              <td>Maior</td>
              <td>Vencendo Dificuldades, Suspiros de Alívio</td>
              <td>Triunfar sobre o mal, saltando obstáculos, vencendo dificuldades. Superando inimigos e finalmente
                encontrando descanso na vitória. Clareza brilhante de pensamento e sentimento.</td>
            </tr>
            <tr>
              <td>Gb</td>
              <td>Menor</td>
              <td>Ressentimento sombrio e apaixonado</td>
              <td>Rasgando seu cabelo e camisa, descontentamento, longos períodos de lamentação e choro. Ainda capaz de
                lutar contra esse sentimento.</td>
            </tr>
            <tr>
              <td>G</td>
              <td>Maior</td>
              <td>Sério, Magnífico, Fantasia</td>
              <td>Rústico, idílico, poético, lírico. Calmo e satisfeito. Ternura e Gratidão. Amizade e fé. É um tom
                gentil cheio de paz.</td>
            </tr>
            <tr>
              <td>G</td>
              <td>Menor</td>
              <td>Descontentamento, inquietação</td>
              <td>Preocupação com o futuro, com um plano fracassado, ranger de dentes. Preocupação com um plano
                fracassado. Lutando contra a antipatia e o descontentamento.</td>
            </tr>
            <tr>
              <td>Ab</td>
              <td>Maior</td>
              <td>Morte, Eternidade, Julgamento</td>
              <td>Putrefação, pontos de vista expansivos de um cosmos e existência sombrios. Fantasmas, mortos vivos,
                duendes malígnos, cemitérios. Assombrando e persistente.</td>
            </tr>
            <tr>
              <td>Ab</td>
              <td>Menor</td>
              <td>Resmungando, gemendo, lamentando</td>
              <td>Coração sufocado, lamentações, lutas ao longo da vida. Um olhar negativo para as experiências de
                vida, competição, crescimento.</td>
            </tr>
            <tr>
              <td>A</td>
              <td>Maior</td>
              <td>Alegre, Pastoral, Declaração de Amor</td>
              <td>Amor inocente, satisfação com o estado atual das coisas. Otimista. Crença no céu e reencontro com seus
                entes queridos perdidos. Jovem e alegre. Confiar no espírito do divino.</td>
            </tr>
            <tr>
              <td>A</td>
              <td>Menor</td>
              <td>Terno, queixoso, devoto</td>
              <td>Feminino, de caráter gracioso. Capaz de acalmar.</td>
            </tr>
            <tr>
              <td>Bb</td>
              <td>Maior</td>
              <td>Alegre, pitoresca, alegre</td>
              <td>Amor, Consciência Clara, Aspirações Esperançosas para o futuro e um mundo melhor. Otimista e capaz de
                assumir o controle para garantir a paz.</td>
            </tr>
            <tr>
              <td>Bb</td>
              <td>Menor</td>
              <td>Terrível, a noite, zombaria</td>
              <td>A vestimenta da noite, ranzinza, blasfema, afastando o mundo e o divino. Preparativos para o fim.
                Pessimismo e desistência. Crença na escuridão.</td>
            </tr>
            <tr>
              <td>B</td>
              <td>Maior</td>
              <td>Severo, forte, selvagem, furioso</td>
              <td>Paixões descontroladas. Zangado, Ciumento, Fúria, Desespero, Carregado com energia negativa. Preparado
                para lutar.</td>
            </tr>
            <tr>
              <td>B</td>
              <td>Menor</td>
              <td>Solitário, melancólico, paciência</td>
              <td>A chave da paciência, esperando calmamente pelo destino, pelo destino e pela submissão à providência e
                ao carma.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
