<section>
  <div class="content">
    <header>
      <h1>O Modo Maior</h1>
    </header>
    <div class="row">
      <div class="col-12 col-12-medium">
        <h3>Característica comum de cada tonalidade</h3>
        C Maior
        Inocentemente feliz

        Totalmente puro. Simplicidade e ingenuidade. A chave dos filhos. Livre de peso, cheio de imaginação. Resolução
        poderosa. Seriedade. Posso me sentir religioso.
        <br />
        C Menor
        Inocentemente triste, doente de amor

        Declarações de amor e lamentando o amor perdido ou relacionamentos infelizes. Está definhando e cheio de
        saudades,
        uma alma em busca de algo diferente.
        <br />
        Db Menor
        Desespero, lamentação, choro

        Uma expressão apaixonada de tristeza e profundo pesar. Cheio de penitência e autopunição. Uma conversa íntima
        com
        Deus sobre o reconhecimento de transgressões e expiação.
        <br />

        Db Maior
        Pesar, Depressivo

        Arrebatamento de tristeza. Uma careta chave de sufocar as lágrimas. É capaz de rir ou sorrir para apaziguar os
        que
        estão ao seu redor, mas a verdade está no desespero. Plenitude de tom, sonoridade e eufonia.
        <br />

        D Maior
        Gritos de guerra triunfantes e vitoriosos

        Gritando aleluia, regozijando-se em vencer obstáculos. Marchas de guerra, canções natalinas, convites para
        entrar no
        time vencedor.
        <br />

        D Menor
        Sério, Piedoso, Ruminando

        Melancolia, feminina, preocupações taciturnas, contemplação da negatividade.
        <br />

        Eb Menor
        Angústia profunda, angústia existencial

        Lidar com ansiedade e terror existencial, angústia profunda, depressão sombria. A noite escura da alma. Medo,
        hesitação, estremecimento, arrepios. A linguagem dos fantasmas.
        <br />

        Eb Maior
        Cruel, duro, mas cheio de devoção

        Amor, Devoção, Intimidade, Abertura, Comunhão Honesta. Conversas com Deus.
        <br />

        E Maior
        Prazer briguento, turbulento e incompleto

        Gritos de alegria, deleite completo, mas brigão, de fusão curta, pronto para lutar.
        <br />

        E Menor
        Efeminado, Amoroso, Inquieto

        Essa chave pode carregar tristeza, tristeza, inquietação. Como uma princesa presa em uma torre desejando seu
        salvador e futuro amante.
        <br />

        F Maior
        Furioso, temperamento rápido, arrependimento passageiro

        Complacência, calma controlada sobre a prontidão para explodir. Profundamente zangado, mas ainda sereno e
        sociável.
        Sentimento religioso.
        <br />

        F Menor
        Obscuro, queixoso, fúnebre

        A depressão mais profunda, lamento sobre a morte e a perda, gemidos de miséria, prestes a expirar. Terrível.
        Melancólico.
        <br />

        Gb Maior
        Vencendo Dificuldades, Suspiros de Alívio

        Triunfar sobre o mal, obstáculos, obstáculos. Superando inimigos e finalmente encontrando descanso na vitória.
        Clareza brilhante de pensamento e sentimento.
        <br />

        Gb Menor
        Ressentimento sombrio e apaixonado

        Rasgando seu cabelo e camisa, descontentamento, longos períodos de lamentação e choro. Ainda capaz de lutar
        contra
        esse sentimento.
        <br />

        G Maior
        Sério, Magnífico, Fantasia

        Rústico, idílico, poético, lírico. Calmo e satisfeito. Ternura e Gratidão. Amizade e fé. É uma chave gentil
        cheia de
        paz.
        <br />

        G Menor
        Descontentamento, inquietação

        Preocupação com o futuro, com um plano fracassado, ranger de dentes. Preocupação com um plano fracassado.
        Lutando
        contra a antipatia e o descontentamento.
        <br />

        Ab Maior
        Morte, Eternidade, Julgamento

        Putrefação, pontos de vista expansivos de um cosmos e existência sombrios. Fantasmas, Ghouls, Goblins,
        Cemitérios.
        Assombrando e persistente.
        <br />

        Ab Menor
        Resmungando, gemendo, lamentando

        Sufocação do coração, lamentações, lutas ao longo da vida. Um olhar negativo para as experiências de vida,
        competição, crescimento.
        <br />

        A Maior
        Alegre, Pastoral, Declaração de Amor

        Amor inocente, satisfação com o estado atual das coisas. Otimista. Crença no céu e reencontro com seus entes
        queridos perdidos. Jovem e alegre. Confiar no espírito do divino.
        <br />

        A Menor
        Terno, queixoso, devoto

        Feminino, de caráter gracioso. Capaz de acalmar.
        <br />

        Bb Maior
        Alegre, pitoresca, alegre

        Amor, Consciência Clara, Aspirações Esperançosas para o futuro e um mundo melhor. Otimista e capaz de assumir o
        controle para garantir a paz.
        <br />

        Bb menor
        Terrível, a noite, zombaria

        A vestimenta da noite, ranzinza, blasfema, afastando o mundo e o divino. Preparativos para o fim. Pessimismo e
        desistência. Crença na escuridão.
        <br />

        B Maior
        Harsh, Strong, Wild, Rage

        Paixões descontroladas. Zangado, Ciumento, Fúria, Desespero, Carregado com energia negativa. Preparado para
        lutar.
        <br />

        B Menor
        Solitário, melancólico, paciência

        A chave da paciência, esperando calmamente pelo destino, pelo destino e pela submissão à providência e ao carma.
      </div>
    </div>
  </div>
</section>
