<section id="banner">
  <div class="content">
    <header>
      <h1>Harmonia</h1>
      <p>Um App gratuito para o estudo harmônico</p>
    </header>
    <p>Até onde sabemos Harmonia é uma palavra grega que faz referência a Deusa da paz, compreensão e harmonia. Na
      música o conceito nasce com Pitágoras, mas também com Heráclito, Nicômaco e Platão dentre outros. Entretanto foi
      Pitágoras através das relações matemáticas dos intervalos musicais que organizou a multiplicidades de
      possibilidades.
    </p>
    <p>
      Desde essa remota experiência de Pitágora, passando pelos teóricos e filósofos gregos, medievais como Boécio, que
      fundamentou escrita musical entre outros importantes temas musicais e filosóficos. Passando por Hucbaldo, Guido de
      Arezzo, Franco de Colónia, desembocamos no Renascimento, Barroco, séculos XVII e XVIII, desembocando na música
      moderna e em seguida contemporânea.
    </p>
    <p>
      Seria uma ilusão querer tratar de toda essa temática em um único App. No entanto não temos nenhuma tendência em
      abandonar qualquer abordagem que nos parece importante e interessante treinar e observar.
    </p>
    <p>
      Como precisamos partir de algum lugar preferimos explorar nossos dois modos (Maior e Menor) provenientes do Jônio
      e Eólio. Também daremos voz a antiga Harmonia Modal com apoio na obra contemporânea de Ron Miller. Ainda
      trataremos da harmonia aplicada a nossa música brasileira na parte de Harmonia Aplicada, levando em consideração
      alguns gêneros musicais da nossa música.
    </p>
    <p>Um bom estudo a todos e entrem em contato, o App é de código aberto disponível no Github.</p>
  </div>
  <span class="image object">
    <img src="../../../assets/img/harmonia.jpg" alt="" />
  </span>
</section>
<section>
  <header class="major">
    <h2>O que encontraremos no App</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon solid fa-plus"></span>
      <div class="content">
        <h3>O Modo Maior</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum.
          Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-minus"></span>
      <div class="content">
        <h3>O Modo Menor</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum.
          Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-church"></span>
      <div class="content">
        <h3>Harmonia Modal</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum.
          Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-clipboard-list"></span>
      <div class="content">
        <h3>Harmonia aplicada</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum.
          Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
  </div>
</section>
