<section id="banner">
  <div class="content">
    <header>
      <h1>Harmonia</h1>
      <p>Um App gratuito para o estudo harmônico</p>
    </header>
    <p>Até onde sabemos Harmonia é uma palavra grega que faz referência a Deusa da paz, compreensão e harmonia. Na
      música o conceito nasce com Pitágoras, mas também com Heráclito, Nicômaco e Platão dentre outros. Entretanto foi
      Pitágoras através das relações matemáticas dos intervalos musicais que organizou a multiplicidades de
      possibilidades.
    </p>
    <p>
      Desde essa remota experiência de Pitágora, passamos pelos teóricos e filósofos gregos, medievais como Boécio, que
      fundamentou escrita musical entre outros importantes temas musicais e filosóficos. Passamos por Hucbaldo, Guido de
      Arezzo, Franco de Colónia, desembocamos no Renascimento, Barroco, séculos XVII e XVIII, chegamos até a música
      moderna e em seguida contemporânea.
    </p>
    <p>
      Seria uma ilusão querer tratar de toda essa temática em um único App. No entanto não temos nenhuma tendência em
      abandonar qualquer abordagem que nos pareça importante e interessante para treinarmos e observarmos.
    </p>
    <p>
      Como precisamos partir de algum lugar, preferimos explorar nossos dois modos (Maior e Menor) provenientes do Jônio
      e Eólio. Também daremos voz a antiga Harmonia Modal com apoio na obra contemporânea de Ron Miller. Ainda
      trataremos da harmonia aplicada a música brasileira, na parte de Harmonia Aplicada. Levaremos em consideração
      alguns gêneros musicais da nossa música, suas cadências e muitas observações já feitas pelo Carlos Almada.
    </p>
    <p>Um bom estudo a todos e entrem em contato, o App é de código aberto disponível no Github.</p>
  </div>
  <span class="image object">
    <img src="https://gustavoesteves.github.io/harmony-possibilities/assets/img/harmonia.jpg" alt="" />
  </span>
</section>
<section>
  <header class="Maior">
    <h2>O que encontraremos no App</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon solid fa-plus"></span>
      <div class="content">
        <h3>O Modo Maior</h3>
        <p>Aquele nosso velho amigo Maior, todo turbinado com dominantes opcionais, secundárias, subdominante e qualquer
          outra nova possibilidade que aparecer.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-minus"></span>
      <div class="content">
        <h3>O Modo Menor</h3>
        <p>No modo Menor aproveitamos para extender não só os comuns modos naturais, harmonico e melódico, como a outros
          conceitos mais contemporâneos menores.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-church"></span>
      <div class="content">
        <h3>A Harmonia Modal</h3>
        <p>Uma abordagem Modal contemporânea para ampliarmos nosso leque de possibilidades e coloridos harmonicos.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-tools"></span>
      <div class="content">
        <h3>Ferramentas</h3>
        <p>Algumas "ferramentas" para usarmos como forma de estudo ou facilitar a visualização e formação de novos
          acordes ou escalas.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-clipboard-list"></span>
      <div class="content">
        <h3>Harmonia aplicada</h3>
        <p>A idéia da harmonia aplicada é dissecar boa parte dos rítimos nacionais e aplica-las nas progressões
          harmonicas mais usuais.</p>
      </div>
    </article>
  </div>
</section>
