<section>
    <header>
        <h2>A triade {{naturalTriadeChord}} em estado fundamental</h2>
    </header>
    <div class="content">
        <div #commonTriade class="inner"></div>
    </div>
</section>
<section>
    <header>
        <h2>Primeira inversão da triade {{firstTriadeInversion}}</h2>
    </header>
    <div class="content">
        <div #firstTriade class="inner"></div>
    </div>
</section>
<section>
    <header>
        <h2>Segunda inversão da triade {{secondTriadeInversion}}</h2>
    </header>
    <div class="content">
        <div #secondTriade class="inner"></div>
    </div>
</section>
<section>
    <header>
        <h2>A tetrade {{naturalChord}} em estado fundamental</h2>
    </header>
    <div class="content">
        <div #common class="inner"></div>
    </div>
</section>
<section>
    <header>
        <h2>Primeira inversão da tétrade {{firstInversion}}</h2>
    </header>
    <div class="content">
        <div #first class="inner"></div>
    </div>
</section>
<section>
    <header>
        <h2>Segunda inversão da tétrade {{secondInversion}}</h2>
    </header>
    <div class="content">
        <div #second class="inner"></div>
    </div>
</section>
<section>
    <header>
        <h2>Terceira inversão da tétrade {{thirdInversion}}</h2>
    </header>
    <div class="content">
        <div #third class="inner"></div>
    </div>
</section>