<section>
  <div class="content">
    <header>
      <h1>O Modo Maior</h1>
      <p>Dominantes</p>
    </header>
    <div class="row">
      <div class="col-3 col-12-medium">
        <p>Os acordes Dominantes podem ter tensões com intervalos Opcionais, Alterados ou Simétricosque criam uma
          instabilidade tonal maior
          que nos força a resolução V7 &#8594; Imaj7. Além deles mostraremos também o acorde suspenso.
        </p>
        <p>
          Para os acordes Alterados (b5) ainda poderíamos pensar em resolver o V7 &#8594; Imaj7, como V7b5b9 &#8594;
          Im7.
        </p>
        <p>Algumas dicas para acordes dominantes:
        </p>
        <ul>
          <li>Acordes Dominantes podem conter notas não diatônicas</li>
          <li>Adicionar tensões cromáticas ao acorde Dominante aumenta a expectativa de resolução</li>
          <li>A única nota não admitida é a 11a</li>
          <li>Se a 5a do acorde estiver presente a b13 deve ser evitada</li>
          <li>Dominantes com a 13a criam expectativa de resolução em acorde maior</li>
          <li>Dominantes com a b13 criam expectativa de resolução em acorde menor</li>
          <li>Todas as escalas Dominantes contem a fundamental, 3a maior e 7a menor</li>
        </ul>
      </div>
      <div class="col-9 col-12-medium">
        <h2>Acorde suspenso</h2>
        <p>O acorde suspenso ou sus4, é quase uma entidade harmônica independente comumente utilizada em algumas
          cadências. Não existe propriamente uma dissonância.</p>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of acordeSus">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Opcionais</h2>
        <p>
          Vamos separa os opcionais em três categorias: V7(b9 13), V7(b9 b13) e V7(b9 #9 b13). Em cada uma das três
          categorias poderemos usar uma ou mais extenções para aumentar a dissonância e assim o desejo de resolução.
        </p>
        <h3>Opcionais V7(b9 13)</h3>
        <p>Contendo três acordes possíveis: V7(b9), V7(13) e V7(b9 13)</p>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of primeiraOpcional">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
        <h3>Opcionais V7(b9 b13)</h3>
        <p>Acima já citamos o V7(b9) então mostraremos só os dois acordes não vistos: V7(b13) e V7(b9 b13)</p>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of segundaOpcional">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
        <h3>Opcionais V7(b9 #9 b13)</h3>
        <p>Seguiremos sem a duplicação desnecessária de acordes, sendo os restantes: V7(#9), V7(b9 #9), V7(#9 b13) e
          V7(b9 #9 b13)</p>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of terceiraOpcional">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Alteradas</h2>
        <p>
          Levando em consideração a neutralidade do 5o grau do acorde iremos altera-lo para obtermos ainda mais
          dissonância e necessidade de conclusão. As tensões usadas serão similares as Opcionais acima, com b5 (quinta
          diminuta), ou seja V7b5(b9 #9 b13).
        </p>
        <h3>Alteradas V7b5(b9 #9 b13)</h3>
        <p>Contendo oito acordes possíveis: V7b5, V7b5(b9), V7b5(#9), V7b5(b13), V7b5(b9 #9), V7b5(b9
          b13), V7b5(#9 b13), V7b5(b9 #9 b13)</p>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of alteredDominant">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Simétricas</h2>
        <p>Em uma escala simétrica (Tons inteiros) que combinam cromatismo com notas diatônicas, ter a 13a nesse
          acorde é essencial para resolução na 3a maior do I grau.</p>
        <h3>Simétricas V7(9b, #9, #11, 13)</h3>
        <p>Sendo a 13 extenção obrigatoria, teremos: V7(b9 13), V7(#9 13), V7(#11 13), V7(9b #9 13), V7(#9 #11 13),
          V7(9b #9 #11 13)</p>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of header" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of symetricDominant">
              <td *ngFor="let column of header">
                <div *ngIf="column === 'Acorde'">
                  <div [innerHTML]="item.Roman"></div>
                  <div class="loadChords" [innerHTML]="item.Acorde" (click)="loadChords(item)"></div>
                </div>
                <div *ngIf="column != 'Acorde'" [innerHTML]="item[column]"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
