<section>
  <div class="content">
    <header>
      <h1>O Modo Maior</h1>
    </header>
    <div class="row">
      <div class="col-12 col-12-medium">
        <p>O modo Maior como conhecemos tem a mesma sequência intervalar do antigo modo Jônio, ou seja dado uma
          nota qualquer teremos o segundo intervalo maior, o terceiro maior, o quarto justo, o quinto justo, o sexto
          maior e o sétimo maior. Partindo da nota dó teriamos então: ré (segunda maior), mi (terceira maior), fá
          (quarta justa), sol (quinta justa), lá (sexta maior) e si (sétima maior).</p>
        <p>Os acordes de cada um dos graus da escala maior são constituidos por três notas, a fundamental, a terça
          (que pode ser maior ou menor) e a quinta (que pode ser justa ou diminuta). Para contemplarmos um leque maior
          abordaremos os acordes sempre acompanhados da sétima (que pode ser maior ou menor).</p>
        <p>O fato de termos terças maiores e menores, quintas justas e diminuta, e sétima maior e menor se dá pela
          distâncias dos intervalos. Se pegarmos a nota dó, sua terça estará 5 semi tons (contando o próprio dó) de
          distância dela: dó → dó# → ré → ré# → mi. Se pegarmos a nota ré teriamos: ré → ré# → mi → fá, ou seja
          um semi tom a menos que a terça de dó, portanto na tonalidade de Dó Maior, o acorde de Dó tem a terça maior e
          o de Ré a terça menor. O mesmo raciocínio se extende para os outros intervalos da escala.</p>
        <p>Para conseguirmos expressar a tonalidade Maior precisamos apenas de três acordes, a tônica, a subdominante e
          a dominante. Partindo da nota dó teríamos: Dó Maior (o acorde contem as notas dó, mi e sol), Fá Maior (o
          acorde contem as notas fá, lá e dó) e Sol Maior (o acorde contem as notas sol, si e ré). Percebemos que todas
          as notas da tonalidade de dó (dó, ré, mi, fá, sol, lá e si) estão contidas nesses três acordes.</p>
        <h2>Cadência</h2>
        <p>A cadência ou progressão de acordes é o recurso que utilizamos para determinar a tonalidade.
          Existem alguns tipos de cadência, a perfeita, a plagal, a imperfeita, a picarda, a subdominante incompleta, a
          cadência enganosa, dentre outras. Por hora focaremos nossos esforços na cadência perfeita. A cadência perfeita
          segue a seguinte progressão: I → VI → V → I. Ou seja é um movimento partindo da tônica para subdominante,
          depois dominante e encerrando com a tônica.
        </p>
        <p>De agora em
          diante nos referiremos aos acordes da escala maior com a numeração Romana. Levando-se em consideração a
          tonalidade de dó teremos:</p>
        <ul>
          <li>I . tônica (Do maior)</li>
          <li>II- . supertônica (Ré menor)</li>
          <li>III- . mediante (Mi menor)</li>
          <li>IV . subdominante (Fá maio)</li>
          <li>V . dominante (Sol maior)</li>
          <li>VI- . superdominante (Lá menor)</li>
          <li>VII- b5 . sensível (Si menor com a quinta diminuta)</li>
        </ul>
        <p>Sobre os demais acordes (II-, III-, VI- e VII- b5) é preciso notar que os acordes III- (midiante) e VI-
          (superdominante) são funções da tônica (I), ou seja podem ser trocados pelo acorde
          da tônica e vice versa. O acode de II- (supertônica) é função da subdominante. O de VII- b5 não é uma função
          de
          dominante (V), mas por hora iremos trata-lo assim.</p>
          <table>
            <thead>
              <tr>
                <td>Funções</td>
                <td>Graus principais</td>
                <td>Graus secundários</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tônica</td>
                <td>I</td>
                <td>III- e VI-</td>
              </tr>
              <tr>
                <td>Subdominante</td>
                <td>IV</td>
                <td>II-</td>
              </tr>
              <tr>
                <td>Dominante</td>
                <td>V</td>
                <td>VII- b5</td>
              </tr>
            </tbody>
          </table>
        <p>A tabela abaixo trás caminhos muito úteis e seguros para uma progressão harmônica que pretende assegurar a tonalidade.
          Tomando qualquer acorde como inicial seguimos as setas até a tensão final. Por exemplo se
          começamos nossa cadência com o VI- grau, temos a possibilidade do IV ou II-, em seguida poderiamos optar pelo
          termino da sentença pulando para o I ou seguindo para o V ou VII- b5 e então finalizarmos a sentença.
          Ainda
          poderiamos voltar do V ou VII- b5 para o VI novamente e começar uma nova sentença, cabe escolher o que convêm.
        </p>
        <form>
          <ul class="actions">
            <li><button type="button" class={{btnGrau}} (click)="changeView('grau')">Graus</button></li>
            <li><button type="button" class={{btnAcorde}} (click)="changeView('acorde')">Acordes</button></li>
          </ul>
        </form>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{notes[3].note}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td></td>
                <td><i class="fas fa-long-arrow-alt-down"></i></td>
                <td></td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td></td>
              </tr>
              <tr>
                <td>{{notes[2].note}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td>{{notes[5].note}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td>{{notes[1].note}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td>{{notes[4].note}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td>{{notes[0].note}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-long-arrow-alt-left"></i></td>
                <td></td>
                <td><i class="fas fa-long-arrow-alt-down"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{notes[6].note}}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
