<div class="row">
  <div class="col-3 col-12-medium">
    <h3>Intrumento</h3>
    <section class="alt">
      <form>
        <select class="form-control" id="SelectInstrument" (change)="onSelectInstrument($event.target.value)">
          <option *ngFor="let item of instruments">{{item.Name}}</option>
        </select>
      </form>
    </section>
    <h3>Baixo do acorde</h3>
    <section class="alt">
      <form>
        <select class="form-control" id="SelectBaixo" (change)="onSelectBaixo($event.target.value)">
          <option *ngFor="let item of notesTriade">{{item.note}}</option>
        </select>
      </form>
    </section>
    <h3>Notas fundamentais</h3>
    <span *ngFor="let item of notesTriade">
      <input type="checkbox" name="item.note" [attr.id]="item.note" [(ngModel)]="item.checked"
        (change)="gravaValor(item.checked, item.note)" />
      <label [attr.for]="item.note">{{ item.note }}</label>
    </span>
    <h3>Extençoes</h3>
    <span *ngFor="let item of checkedExtencoes">
      <input type="checkbox" name="item.note" [attr.id]="item.note" [(ngModel)]="item.checked"
        (change)="gravaValor(item.checked, item.note)" />
      <label [attr.for]="item.note">{{ item.note }}</label>
    </span>
  </div>
  <div class="col-9 col-12-medium">
    <h2>Acordes de {{acorde}}</h2>
    <div #drawChordsChart class="inner"></div>
  </div>
</div>
