<div class="row">
  <div class="col-2 col-12-medium">
    <h3>Intrumentos</h3>
    <section class="alt">
      <form>
        <select class="form-control" id="SelectInstrument" (change)="onSelectInstrument($event.target.value)">
          <option *ngFor="let item of instruments">{{item.Name}}</option>
        </select>
      </form>
    </section>
    <h3>Acordes</h3>
    <section class="alt">
      <form>
        <select name="demo-category" id="demo-category" (change)="onSelect($event.target.value)">
          <option *ngFor="let item of menuAcordes" >{{item}}</option>
        </select>
      </form>
    </section>
  </div>
  <div class="col-10 col-12-medium">
    <h2>Diagrama de acordes em {{acorde}}</h2>
    <div #drawChordsChart class="inner"></div>
  </div>
</div>
