<header>
  <h2>Optional Chords</h2>
</header>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Chord</th>
      <th scope="col">Upper</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">V7</th>
      <td>(b9 13)</td>
      <td>{{VIII.name}}7</td>
      <td>{{VIII.name}} {{XII.name}} {{III.name}} {{VI.name}} ({{IX.name}} {{V.name}})</td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>(b9 b13)</td>
      <td>-</td>
      <td>{{VIII.name}} {{XII.name}} {{III.name}} {{VI.name}} ({{IX.name}} {{IV.name}})</td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>(b9 #9 b13)</td>
      <td>-</td>
      <td>{{VIII.name}} {{XII.name}} {{III.name}} {{VI.name}} ({{IX.name}} {{XI.name}} {{IV.name}})</td>
    </tr>
  </tbody>
</table>
<header>
  <h2>Altered Dominant</h2>
</header>
<table>
  <thead>
    <tr>
      <th scope="col">Chord</th>
      <th scope="col">Upper</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">V7b5</th>
      <td>(b9 #9 b13)</td>
      <td>{{VIII.name}}7b5</td>
      <td>{{VIII.name}} {{XII.name}} {{II.name}} {{VI.name}} ({{IX.name}} {{XI.name}} {{IV.name}})</td>
    </tr>
  </tbody>
</table>
<p>Tb13 projects an expectation of resolution to a minor chord I -Maj7.</p>
<header>
  <h2>Symmetric Dominant</h2>
</header>
<table>
  <thead>
    <tr>
      <th scope="col">Chord</th>
      <th scope="col">Upper</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">V7</th>
      <td>(b9 #9 #11 13)</td>
      <td>{{VIII.name}}7</td>
      <td>{{VIII.name}} {{XII.name}} {{III.name}} {{VI.name}} ({{IX.name}} {{XI.name}} {{II.name}} {{V.name}})</td>
    </tr>
  </tbody>
</table>
