<header>
  <h2>Secondary Dominants</h2>
</header>
<table>
  <thead>
    <tr>
      <th scope="col">Chord</th>
      <th scope="col">Upper</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
      <th scope="col">Resolve</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">V7/II</th>
      <td>(9 b13)</td>
      <td>{{X.name}}7</td>
      <td>{{X.name}} {{II.name}} {{V.name}} {{VIII.name}} ({{XII.name}} {{VI.name}})</td>
      <td>{{III.name}}m7</td>
    </tr>
    <tr>
      <th scope="row">V7/III</th>
      <td>(b9 #9 b13)</td>
      <td>{{XII.name}}7 b5</td>
      <td>{{XII.name}} {{IV.name}} {{VI.name}} {{X.name}} ({{I.name}} {{III.name}} {{VIII.name}})</td>
      <td>{{V.name}}m7</td>
    </tr>
    <tr>
      <th scope="row">V7/IV</th>
      <td>(9 13)</td>
      <td>{{I.name}}7</td>
      <td>{{I.name}} {{V.name}} {{VIII.name}} {{XI.name}} ({{III.name}} {{X.name}})</td>
      <td>{{VI.name}}Maj7</td>
    </tr>
    <tr>
      <th scope="row">V7/V</th>
      <td>(9 13)</td>
      <td>{{III.name}}7</td>
      <td>{{III.name}} {{VII.name}} {{X.name}} {{I.name}} ({{V.name}} {{XII.name}})</td>
      <td>{{VIII.name}}7</td>
    </tr>
    <tr>
      <th scope="row">V7/VI</th>
      <td>(b9 #9 b13)</td>
      <td>{{V.name}}7</td>
      <td>{{V.name}} {{IX.name}} {{XII.name}} {{III.name}} ({{VI.name}} {{VIII.name}} {{I.name}})</td>
      <td>{{X.name}}7</td>
    </tr>
  </tbody>
</table>
<header>
  <h2>Extended Dominants</h2>
</header>
<table>
  <thead>
    <tr>
      <th scope="col">Chord</th>
      <th scope="col">Upper</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
      <th scope="col">Resolve</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#IV7/VII</th>
      <td></td>
      <td>{{VII.name}}7</td>
      <td>{{VII.name}} {{XI.name}} {{II.name}} {{V.name}}</td>
      <td>{{XII.name}}7 b5</td>
    </tr>
  </tbody>
</table>
<header>
  <h2>Secondary Dominants and Related II's</h2>
</header>
<table>
  <thead>
    <tr>
      <th scope="col">Chord</th>
      <th scope="col">Upper</th>
      <th scope="col">Name</th>
      <th scope="col">Notes</th>
      <th scope="col">Resolve</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">III -7</th>
      <td>(11)</td>
      <td>{{V.name}}m7</td>
      <td>{{V.name}} {{VIII.name}} {{XII.name}} {{III.name}} ({{X.name}})</td>
      <td>V7/II</td>
    </tr>
    <tr>
      <th scope="row">III -7 b5</th>
      <td>(11)</td>
      <td>{{V.name}}m7b5</td>
      <td>{{V.name}} {{VIII.name}} {{XI.name}} {{III.name}} ({{X.name}})</td>
      <td>V7/II</td>
    </tr>
    <tr>
      <th scope="row">#IV 7</th>
      <td>(9 #11 13)</td>
      <td>{{VII.name}}7</td>
      <td>{{VII.name}} {{XI.name}} {{II.name}} {{V.name}} ({{IX.name}} {{I.name}} {{IV.name}})</td>
      <td>V7/III</td>
    </tr>
    <tr>
      <th scope="row">#IV 7 b5</th>
      <td>(9 #11 13)</td>
      <td>{{VII.name}}7 b5</td>
      <td>{{VII.name}} {{XI.name}} {{I.name}} {{V.name}} ({{IX.name}} {{I.name}} {{IV.name}})</td>
      <td>V7/III</td>
    </tr>
  </tbody>
</table>
<header>